@import './vars';

.calendar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
}

.calendar-header {
  text-align: center;
}

.calender-header label {
  display: inline-block;
  width: 30%;
  font-weight: bold;
}

.calendar-week {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1%;
}

.calendar-date, .calendar-week-day {
  flex-shrink: 0;
  width: 13.5%;
  min-height: 3rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: inherit;
}

.calendar-date[data-today=true] > span:first-child {
  font-weight: bold;
  text-decoration: underline;
  color: #0000ff;
  text-shadow: 0 0 9px #0000ff;
}

.calendar-date[data-available=false][data-today=true] > span:first-child {
  color: #ffd4ff;
  text-shadow: 0 0 9px #ffd4ff;
}

.calendar-date[aria-disabled=true] {
  color: $gray;
  font-weight: initial;
  cursor: not-allowed;
}

.calendar-date[data-available=false] {
  background-color: $red;
  cursor: not-allowed;
  color: white;
}

.calendar-date[data-available=false][data-disabled=true] {
  background-color: $redMuted;
  color: whitesmoke;
}

.calendar-date[data-partial=top] span, .calendar-date[data-partial=bottom] span {
  background-color: #00000090;
  border-radius: 2px;
  color: white;
}

.calendar-date[data-partial=top] {
  background: linear-gradient($red 50%, #ff00ff00 50%);
}

.calendar-date[data-partial=top][data-active=true], .calendar-date[data-partial=top]:hover {
  background: linear-gradient($red 50%, $greenTransparent 50%)
}

.calendar-date[data-partial=bottom] {
  background: linear-gradient(#ff00ff00 50%, $red 50%);
}

.calendar-date[data-partial=bottom][data-active=true], .calendar-date[data-partial=bottom]:hover {
  background: linear-gradient($greenTransparent 50%, $red 50%)
}

.calendar-date[data-partial=switch] {
  background: linear-gradient(to bottom,
          #ff00ff00,
          #ff00ff00 25%,
          $red 25%,
          $red 75%,
          #ff00ff00 75%);
  color: white;
}

.calendar-date[data-partial=switch][data-part-available=top]:hover, .calendar-date[data-partial=switch][data-part-active=top][data-active=true] {
  background: linear-gradient(to bottom,
          $greenTransparent,
          $greenTransparent 25%,
          $red 25%,
          $red 75%,
          #ff00ff00 75%);
}

.calendar-date[data-partial=switch][data-part-available=bottom]:hover, .calendar-date[data-partial=switch][data-part-active=bottom][data-active=true] {
  background: linear-gradient(to bottom,
          #f0f0f000,
          #f0f0f000 25%,
          $red 25%,
          $red 75%,
          $greenTransparent 75%);
}

.calendar-date[data-partial=switch][data-active=top] {
  background: linear-gradient($greenTransparent 25%, $red 50%, #ff00ff00 25%)
}

.calendar-date[data-partial=switch][data-active=bottom] {
  background: linear-gradient(#ff00ff00 25%, $red 50%, $greenTransparent 25%)
}

.calendar-date:not([aria-disabled=true]:not([data-active=true])):hover, .calendar-date[data-active=true] {
  background-color: $greenTransparent;
  cursor: pointer;
}

.calendar-date[data-disabled=true]:not[data-active=true], .calendar-date[aria-disabled=true]:not[data-active=true]:hover {
  background-color: lightgray;
  cursor: not-allowed;
}

.calendar-date-tooltip, .calendar-date:hover .calendar-date-tooltip:empty, .calendar-date:focus .calendar-date-tooltip:empty {
  display: none;
}

.calendar-date:hover .calendar-date-tooltip, .calendar-date:focus .calendar-date-tooltip {
  display: block;
  position: absolute;
  background-color: $gray;
  color: white;
  border-radius: 0 1rem 1rem 1rem;
  padding: 0.5rem;
}

.calendar-date-tooltip p {
  margin: 0;
  text-align: left;
}

.calendar-date-tooltip h4 {
  color: inherit;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.calendar-date-tooltip ul {
  text-align: left;
}

.calendar-date-dot {
  margin-bottom: 0;
  font-size: 0.5em;
}

.calendar-heading-row {
  display: flex;
  align-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.calendar-heading-row h3 {
  margin-left: auto;
  margin-right: auto;
}

.calendar-change-month-button {
  cursor: pointer;
  height: 100%;
  background-color: inherit;
  border-radius: 0.5rem;
}

.calendar-change-month-button[disabled=true] {
  cursor: not-allowed;
}

.calendar-change-month-button[disabled=true]:hover {
  background-color: initial;
}

.calendar-last-month-button {
  align-self: flex-start;
  margin-right: auto;
}

.calendar-next-month-button {
  align-self: flex-end;
  margin-left: auto;
}

.calendar-view-change-meta-label {
  display: block;
  padding-bottom: 0.5rem;
}

.calendar-view-radio {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.calendar-view-radio + label {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  margin: 0.25rem;
  cursor: pointer;
  text-align: center;
}

.calendar-view-radio:checked + label {
  background-color: $darkGreen;
  box-shadow: 2px 2px 2px $darkGreen;
  border-color: $darkGreen;
  color: #e5e5e5;
  text-decoration: underline;
}

.calendar-view-radio:focus + label {
  box-shadow: 3px 3px 3px $darkGreen;
}

.calendar-meta-display {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid;
}

.calendar-meta-display:empty {
  visibility: hidden;
}

.calendar-error-display:empty {
  display: none;
}

.calendar-error-display {
  border-color: $red;
  color: $red;
}

.calendar-warning-display {
  border-color: $orange;
  color: $orange;
}

.calendar-date-input-warning {
  color: $orange;
}

.calendar-numeric-input {
  border-radius: 0.25rem;
}

.calendar-numeric-input:invalid {
  border: 1px solid $red;
}

.calendar-asap-booking-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 22%;
}

.calendar-booking-container {
  display: flex;
  flex-wrap: wrap;
}

.calendar-booking-container h4 {
  width: 100%;
}

.calendar-booking-date-input, .calendar-booking-time-input {
  width: 32%;
  margin-right: 1%;
}

.calendar-booking-date-input label, .calendar-booking-time-input label {
  width: 100%;
  display: inline-block;
}

.calendar-booking-time-row {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.calendar-booking-date-input input, .calendar-booking-time-input input {
  max-width: 100%;
}

.calendar-booking-date-input, .calendar-booking-time-input {
  width: 32%;
  margin-right: 1%;
}

@media(max-width: 1000px) {
  .calendar-booking-date-input, .calendar-booking-time-input {
    width: 45%;
    margin-right: 2.5%;
  }

  .calendar-date, .calendar-week-day {
    font-size: 0.8rem;
  }

  .calendar-heading-row h3 {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }
}

@media(max-width: 500px) {
  .calendar-date, .calendar-week-day {
    font-size: 0.6rem;
  }

  .calendar-heading-row h3 {
    font-size: 1rem;
  }
}

.calendar-change-time-button {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

.calendar-submit-button {
  margin-top: 1rem;
}
