.bike-box-booking select, .bike-box-booking label, .bike-box-booking button {
  display: block;
  width: 100%;
}

.button {
  font-size: 1.2rem;
}

.button.is-success {
  background-color: #309c56;
}

.button.is-success:hover, .button.is-success:active, .button.is-success:focus, .button.is-success:focus:not(:active) {
  background-color: #247540;
  box-shadow: 2px 2px 2px #247540;
}
