.bike-box-booking select, .bike-box-booking label, .bike-box-booking button {
  display: block;
  width: 100%;
}

.button.is-success:hover, .button.is-success:active {
  box-shadow: 2px 2px 2px #2a894b;
}
