.resource-list {
  box-sizing: border-box;
}

.resource {
  border: 1px solid #d9d9d9;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fdfdfd;
  display: flex;
  flex-wrap: wrap;
}

.resource-header {
  width: 100%;
}

.resource-photo {
  width: 25%;
  position: relative;
}

.resource-photo img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.resource-description {
  width: 75%;
  padding: 1rem;
}

.resource-description.fullwidth {
  width: 100%;
}

.resource-foot {
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.25rem;
}

.resource-foot table {
  font-size: 0.75rem;
  margin: 0;
  flex-shrink: 0;
  width: 50%;
}

.resource-foot table:not(.has-background) tbody tr:nth-child(2n) td, .resource-foot table:not(.has-background) th {
  background-color: inherit;
}

.resource-foot table tr:not(:last-child) th, .resource-foot table tr:not(:last-child) td {
  border-bottom: 1px solid #e6e6e6;
}

@media(max-width: 500px) {
  .resource-photo {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .resource-description {
    padding-bottom: 0;
  }

  .resource-foot {
    margin-top: 0.5rem;
  }

  .resource-foot table {
    width: 100%;
  }

  .booking-link {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.booking-link {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 35%;
}

.booking-link a {
  width: 100%;
}
