$blue: #305f97;
$green: #40b93c;
$greenContrastText: #383838;
$greenTransparent: #40b93c60;
$darkGreen: #247540;
$darkGreenContrastText: #e5e5e5;
$gray: #6d6d6d;
$yellow: #ffff33;
$yellowTransparent: #ffff3360;
$red: #cc0000;
$orange: #995c00;
